name: Maven Release

on:
  workflow_dispatch: # Ermöglicht den manuellen Start über den "Run workflow" Button

jobs:
  release:
    name: Perform Release
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          server-id: github 
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN

      # NEU: Hier meldet sich GitHub bei Docker Hub an
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Configure Git User
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Execute Maven Release
        # -Pgithub aktiviert dein GitHub Profil
        # -Dit.db.password sorgt dafür, dass die Tests gegen die DB laufen
        run: mvn -B release:prepare release:perform -Darguments="-Pgithub -Dit.db.password=nimda"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
